img {
  margin-top: 145px;
}

.form-container {
  background: #f3ef82;
  width: 80%;
  height: 500px;
  margin-left: 80px;
  box-shadow: 8px 10px 8px rgba(43, 88, 12, 0.72);
  border-radius: 50px;
  h1 {
    width: 100%;
    font-size: calc(0.6em + 1vw);
    line-height: 1.1em;
    letter-spacing: 0.1em;
    margin-right: 8em;
    color: rgba(43, 88, 12, 0.72);
    text-shadow: 3px 2px 4px rgba(57, 58, 56, 0.72);
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
  }
  label {
    display: block;
    font-weight: 700;
    min-width: 50px;
  }
  input,
  textarea {
    border-radius: 12px;
    border: 1px solid #ccc;
    margin: 0;
    padding: 4px 0;
    width: 80%;
    -webkit-appearance: none;
  }
  .form-button {
    background-color: rgba(43, 88, 12, 0.72);
    color: white;
    box-shadow: 4px 3px 4px rgba(22, 22, 22, 0.37);
    transition: all 0.3 ease-out;
    border-radius: 50px;
    border-color: rgba(43, 88, 12, 0.72);
    display: block;
    text-align: center;
    font-size: large;
    width: 73%;
    padding: 10px;
    font-weight: 500;
    &:hover {
      background-color: rgb(255, 255, 253);
      color: black;
    }
  }
}
