.info-container {
  margin: auto;
  width: 100%;
  img {
    padding: 20px;
  }
  h1 {
    margin-bottom: 20px;
  }
  mat-grid-tile {
    background: none;
  }
}

.form-container {
  label {
    display: block;
    font-weight: 700;
    margin: 0 0 8px 0;
    min-width: 50px;
  }
  input, textarea {
    border: 1px solid #ccc;
    padding: 4px 0;
    width: 100%;
    -webkit-appearance: none;
  }
  input[type=submit] {
    background:  #49b82d;
    border: 0;
    color: #fff;
    padding: 8px 16px;
    transition: background 0.2s;
  }
  input[type=submit]:not(:disabled):hover {
    background: #b4b63f;;
  }
  input[type=submit]:not(:disabled):active {
    background:  #49b82d
  }
  input[disabled] {
    opacity: 0.5;
  }
  .container {
    background: #fff;
    box-shadow: 0 2px 4px #888;
    margin: auto;
    padding: 16px;
    max-width: 600px;
  }
  .form-group {
    margin-bottom: 16px;
  }
  input.ng-invalid.ng-dirty,
  textarea.ng-invalid.ng-dirty{
    border-color: red;
    box-shadow: 0 0 4px red;
  }
}

