<nav class="navbar navbar-light bg-light">
  <div class="container justify-content-center">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets/icarvsIcon-transparent.png"
        alt="icarvs"
        width="40"
        height="40"
      />
      <img
        src="../../../assets/logo2.png"
        alt="icarvs"
        width="80"
        height="25"
      />
    </a>
  </div>
</nav>
<div class="container">
  <div class="container general-container">
    <p>¿Hay electricidad instalada?</p>
    <div class="container info-container">
      <div class="row">
        <div class="col-6 column1">
          <img
            src="../../../assets/opciones-usuarios/Cityscapes - Downtown.png"
            class="d-block"
            alt="ciudad"
          />
        </div>
        <div class="col-6 column2">
          <ul class="list-group" (click)="hayElectricidad()">
            <li class="list-group-item">Vivienda unifamiliar</li>
            <li class="list-group-item">Comunidad de vecinos</li>
            <li class="list-group-item">Piso</li>
            <li class="list-group-item">Empresa/negocio</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container turn-back justify-content-center">
  <a class="link" (click)="donde()" routerLinkActive="router-link-active"
    >Volver atrás</a
  >
</div>
