<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-5">
        <img class="logo" src="../../assets/icarvsIcon-transparent.png" alt="">
        <img class="logo" src="../../assets/imagen_manos_luces.jpg" alt="">
        <img class="logo" src="../../assets/puesta de sol.jpg" alt="">

      </div>
      <!--Grid column-->
      <div class="col-md-2">
        <h5 class="text-uppercase">Trabaja con nosotros</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      <div class="col-md-2">
        <h5 class="text-uppercase mb-0">Contacta con nosotros</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      <div class="col-md-2">
        <h5 class="text-uppercase mb-0">Sé un Icaro!</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="container">
      <div class="row">
        <div class="col-md text-dark">
          ICARVS S.E @2022
        </div>
        <div class="col-md text-dark">
          Aviso Legal
        </div>
        <div class="col-md text-dark">
          Politica de privacidad
        </div>
        <div class="col-md text-dark">
          Cookies
        </div>
        <div class="col-md text-dark">
          ICONOS RRSS
        </div>
      </div>
    </div>

  </div>

</footer>
