.footer {
  padding-top: 5em;
}
.logo {
  height: 123px;
  width: 142px;
  top: 1209px;
  border-radius: 100px;
}
.text-uppercase {
  color: black;
  font-family: Aleo;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}
