<!-- Footer -->
<footer class="bg-light text-center text-lg-start footer">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-5 mr-2">
        <img class="logo" src="../../assets/icarvsIcon-transparent.png" alt="">
      </div>
      <!--Grid column-->
      <div class="col-md-2">
        <h5 class="text-uppercase">Trabaja con nosotros</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      <div class="col-md-2">
        <h5 class="text-uppercase mb-0">Contacta con nosotros</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      <div class="col-md-2">
        <h5 class="text-uppercase mb-0">Sé un Icaro!</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="container">
      <div class="row">
        <div class="col-md text-dark">
          ICARVS S.E @2022
        </div>
        <a class="col-md text-dark" href="#">
          Aviso Legal
        </a>
        <a class="col-md text-dark" href="#">
          Politica de privacidad
        </a>
        <a class="col-md text-dark" href="#">
          Cookies
        </a>
        <a class="col-md text-dark" href="#">
          ICONOS RRSS
        </a>
      </div>
    </div>

  </div>

</footer>
