<div class="container-fluid modal-container">
  <section class="article">
    <article class="article__panel article__panel_blue" id="article-blue">
      <div class="article__body">
        <div class="article__container">
          <header class="article__header mt-4 mb-4">
            <h2>¡FORMA PARTE DE ICARVS!</h2>
            <a role="button" href="#0" class="back-link">x</a>
          </header>
          <p>
            Bacon ipsum dolor amet jerky pig turducken pork belly, ham pork
            bresaola spare ribs short loin pork chop cupim. Venison tongue
            biltong ham hock t-bone cow tenderloin brisket, kevin short loin.
            Chuck jerky capicola pastrami short loin sausage kielbasa
            frankfurter pancetta tri-tip beef pork loin drumstick. Short loin
            burgdoggen fatback, ball tip bresaola capicola tri-tip beef sausage
            picanha venison. Biltong shoulder corned beef pork belly
            frankfurter.
          </p>
          <div class="row">
            <div class="col-6">
              <button
                class="btn10"
                [routerLink]="['/registro']"
                routerLinkActive="router-link-active"
              >
                Soy particular
              </button>
            </div>
            <div class="col-6">
              <button
                class="btn10"
                [routerLink]="['/registro-empresas']"
                routerLinkActive="router-link-active"
              >
                Soy empresa
              </button>
            </div>
          </div>
        </div>
      </div>
    </article>
    <a
      role="button"
      class="article__pointer article__pointer_blue"
      href="#article-blue"
    >
      <span
        class="article__layer article__layer_blue"
        role="presentation"
      ></span>
      ¡QUIERO REGISTRARME!
    </a>
  </section>
</div>

<div id="flecha2" class="container-fluid info-container mt-4">
  <div class="container">
    <h2>Sácale todo el partido a tu tejado,</h2>
    <p>y empieza a ahorrar en tu factura de la luz</p>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 column-1">
        <img src="../../assets/2292_R0lVIEFOTiAwNTYtOTI.jpg" alt="sol" />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="text-container">
          <h1>¿Quieres saber cuánta energía <br />puedes producir?</h1>
          <ul class="list-unstyled text-left">
            <li>Descubre tu ahorro</li>
            <li>Recibe una oferta personalizada</li>
            <li>Obtén la mejor instalación</li>
          </ul>
          <div class="input-container mform">
            <input
              type="text"
              class="search-input input-adress"
              placeholder="Introduce tu dirección"
            />
            <button
              type="button"
              class="btn"
              [routerLink]="['/registro']"
              routerLinkActive="router-link-active"
            >
              Simular
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container arrow-container">
    <a
      class="fa fa-4x fa-arrow-circle-down"
      href="#flecha"
      aria-hidden="true"
    ></a>
  </div>
</div>
