.info-container {
  position: relative;
  z-index: 1;
  margin: auto;
  height: 400px;
  margin-bottom: 400px;
  width: 100%;
  background-color: rgba(43, 88, 12, 0.29);
  h2 {
    width: 100%;
    font-size: calc(1.3em + 1vw);
    line-height: 1.1em;
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0);
    text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.37);
    font-weight: bold;
    position: absolute;
    margin-top: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    align-items: center;
    font-style: normal;
  }
  p {
    width: 100%;
    font-size: calc(0.6em + 1vw);
    font-weight: 400;
    line-height: 1.1em;
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 4.5em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    align-items: center;
    font-style: normal;
  }
  .column-1 {
    height: 800px;
    z-index: 4;
    img {
      z-index: 5;
      position: absolute;
      height: 26em;
      width: 430px;
      border-radius: 40%;
      top: 9em;
      left: 6em;
    }
  }
}

.arrow-container {
  position: relative;
  display: block;
  text-align: center;
  top: -110px;
  a {
    color: #2b580c;
    border: none;
    background-color: none;
    transition: all 0.3s ease 0s;
    &:hover {
      text-decoration: none;
      transform: translateY(7px);
      color: rgb(247, 227, 47);
    }
  }
}

@media screen and (max-width: 360px) {
  .info-container {
    p {
      margin-top: 6em;
    }
  }
}

@media screen and (max-width: 767px) {
  .column-1 {
    position: relative;
    img {
      position: absolute;
    }
  }
  .column-2 {
    .text-container {
      width: 300px;
      position: absolute;
      left: -54%;
      .input-container {
        max-width: 400px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .column-1 {
    position: relative;
    img {
      position: absolute;
      margin-top: 50px;
      max-width: 80%;
      max-height: 290px;
    }
  }
  .column-2 {
    .text-container {
      margin-left: -160px;
      max-width: 450px;
      max-height: 460px;
      .input-container {
        max-width: 540px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .column-1 {
    position: relative;
    img {
      position: absolute;
      margin-left: -18%;
    }
  }
}

.mform {
  z-index: 99999;
  display: block;
}

.mform {
  display: flow-root;
  z-index: 9999;
  width: 70%;
  outline: none;
  box-shadow: 0px 2px 15px rgb(193 99 139 /12%);
  .input-adress {
    background: #fffffe;
    border-radius: 40px;
    border: 1px solid #2b580c;
    box-shadow: 5px 3px 6px #2b580c;
    height: 50px;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.340544);
    width: 75%;
    padding: 20px;
    margin-right: 10px;
    outline: none;
    img {
      position: relative;
      color: rgba(43, 88, 12, 0.72);
      top: 200px;
      right: 500px;
    }
  }
  .btn {
    background: #fffffe;
    border: 1px solid #2b580c;
    box-shadow: 5px 3px 6px #2b580c;
    border-radius: 40px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #2b580c;
    width: 20%;
    padding: 10px 10px;
    text-align: center;
    &:hover {
      background-color: #e1f813;
    }
  }
}

.text-container {
  display: flow-root;
  width: 100%;
  margin-top: 220px;
  background: #f3ef82;
  box-shadow: 8px 10px 8px rgba(43, 88, 12, 0.72);
  border-radius: 50px;
  h1 {
    padding-top: 45px;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #2b580c;
    text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.37);
  }
  ul {
    width: 75%;
    margin-left: 30px;
    top: 150px;
    text-align: center;
    li {
      list-style-position: initial;
      padding: 15px;
      color: black;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 26px;
    }
  }
}

.modal-container {
  height: 80px;
  width: 100%;
  position: relative;
  background-color: transparent;
  margin-bottom: -30px;
  margin-top: -20px;
  z-index: 1000;

  $grey: #404040;
  $blue: #2980b9;
  $red: #e74c3c;
  $yellow: #e67e22;

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  a {
    outline: none;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
    font-size: 1.2vw;
  }

  h2 {
    margin: 0;
    margin-top: 60px;
    font-size: 1.5rem;
    color: #fff;
  }

  p {
    margin-top: 40px;
  }

  .back-link {
    color: rgba(255, 255, 255, 0.6);
    font-size: xx-large;
    &:hover,
    &:focus {
      border-color: #fff;
      color: #fff;
    }
  }

  .article {
    &__pointer {
      position: absolute;
      height: 10vw;
      width: 10vw;
      margin-left: -20vw;
      display: flex;
      border-radius: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      backface-visibility: hidden;

      &_blue {
        top: 30%;
        left: 30%;
        background: linear-gradient(45deg, #ffbc2c 21.27%, #568a12 77.99%);
        box-shadow: 0 0 3px 4px;

        &:hover,
        &:focus {
          box-shadow: 0 0 4px 6px #e1f573;
          transform: translateY(-10px);
        }
      }
    }

    &__layer {
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 100px;
      height: 100px;
      width: 100px;
      border-radius: 100%;
      backface-visibility: hidden;
      will-change: transform;
      transform: scale(0);
      transition: 0.6s ease-in-out;

      &_blue {
      }
    }

    &__panel {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transform: scale(0.85);
      backface-visibility: hidden;
      will-change: opacity, transform;
      transition: 0.2s;

      &:target {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: 0.2s 0.4s;

        & ~ a {
          z-index: 1;

          span {
            transform: scale(1);
          }
        }
      }

      &_blue {
        background: linear-gradient(45deg, #ffbc2c 21.27%, #568a12 77.99%);
      }
    }

    &__body {
      max-height: 100%;
      width: 100%;
      flex: 0 0 100%;
      padding: 40px 20px;
      line-height: 1.6;
      letter-spacing: 0.025em;
      color: rgba(255, 255, 255, 0.75);
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }

    &__container {
      max-width: 600px;
      margin: auto;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
    }
  }
}

.btn10 {
  box-sizing: border-box;
  appearance: none;
  background-color: #f7b831;
  box-shadow: 0px 2px 15px rgb(48, 117, 46);
  border: none;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-radius: 20px;
  color: #4d7517;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #568a12;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }

  &:hover {
    color: #fff;
    &:after {
      width: 110%;
    }
  }
}
