.info-container {
  position: relative;
  z-index: 1;
  margin: auto;
  height: 400px;
  width: 100%;
  margin-bottom: 32em;
  background-color: rgba(43, 88, 12, 0.29);
  h2 {
    width: 100%;
    font-size: calc(1em + 1vw);
    line-height: 1.1em;
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0);
    text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.37);
    font-weight: bold;
    position: absolute;
    margin-top: 1em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    align-items: center;
    font-style: normal;
  }
  p {
    width: 100%;
    font-size: calc(0.6em + 1vw);
    font-weight: 400;
    line-height: 1.1em;
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 3em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    align-items: center;
    font-style: normal;
  }

  .column-1 {
    img {
      z-index: 5;
      position: absolute;
      height: 24em;
      width: 420px;
      border-radius: 40%;
      top: 11em;
      left: 8em;
    }
  }
  .column-2 {
    z-index: -1;
    .text-container {
      position: relative;
      margin-top: 160px;
      margin-left: -100px;
      height: 500px;
      width: 500px;
      background: #fdf30a;
      box-shadow: 8px 10px 8px rgba(43, 88, 12, 0.72);
      border-radius: 50px;
      h1 {
        padding-top: 45px;
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #2b580c;
        text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.37);
      }

      .list-container {
        display: flex;
        ul {
          width: 75%;
          position: absolute;
          margin-left: 30px;
          top: 150px;
          text-align: center;
          li {
            list-style-position: initial;
            padding: 15px;
            color: black;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 26px;
          }
        }
      }

      .input-container {
        position: absolute;
        z-index: 99999;
        width: 600px;
        margin-left: -150px;
        margin-top: 400px;
        box-sizing: border-box;
        border-radius: 19px;
        box-shadow: 0px 2px 15px rgb(193 99 139 /12%);
        .input-adress {
          background: #fffffe;
          border-radius: 40px;
          border: 1px solid #2b580c;
          box-shadow: 5px 3px 6px #2b580c;
          height: 50px;
          font-size: 18px;
          line-height: 21px;
          color: rgba(0, 0, 0, 0.340544);
          width: 75%;
          padding: 20px;
          margin-right: 10px;

          img {
            position: absolute;
            top: 200px;
            right: 500px;
          }
        }
        .btn {
          background: #fffffe;
          border: 1px solid #2b580c;
          box-shadow: 5px 3px 6px #2b580c;
          border-radius: 40px;
          text-transform: capitalize;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          color: #2b580c;
          width: 20%;
          padding: 10px 10px;
          text-align: center;
          &:hover {
            background-color: #e1f813;
          }
        }
      }
    }
  }
}

.arrow-container {
  margin-left: 50%;
  margin-right: 50%;
  margin-top: -180px;
  button {
    color: #2b580c;
    border: none;
    background-color: white;
    transition: all 0.3s ease 0s;
    &:hover {
      transform: translateY(7px);
      color: rgb(247, 227, 47);
    }
  }
}

@media screen and (max-width: 360px) {
  .info-container {
    p {
      margin-top: 6em;
    }
  }
}

@media screen and (max-width: 767px) {
  .column-1 {
    position: relative;
    img {
      position: absolute;
    }
  }

  .column-2 {
    .text-container {
      width: 300px;
      position: absolute;
      left: -54%;
      top: -5%;
      .input-container {
        max-width: 400px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .column-1 {
    position: relative;
    img {
      position: absolute;
      margin-top: 50px;
      max-width: 80%;
      max-height: 290px;
    }
  }

  .column-2 {
    .text-container {
      margin-left: -160px;
      max-width: 450px;
      max-height: 460px;
      .input-container {
        max-width: 540px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .column-1 {
    position: relative;
    img {
      position: absolute;
      margin-left: -18%;
    }
  }
}
