@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Raleway", sans-serif;
  background: #e9f8df;
  -webkit-font-smoothing: antialiased;
}
.errorForm {
  margin-top: 10px;
  color: red;
}
.img-fluid {
  margin-top: 40px;
  width: 80px;
  height: 80px;
}
:focus {
  outline: 0;
}

.pointer {
  cursor: pointer;
}
#wrapper {
  perspective: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
}

h1 {
  background: -webkit-linear-gradient(#c0b707, rgb(26, 34, 20));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 43px;
  margin: 0;
  span {
    font-size: 22px;
    background: -webkit-linear-gradient(#0c0c0c, #c0b707);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
h2 {
  color: #2c4d0d;
  margin: 0;
}

form {
  margin: 35px 0;
}

#inputs {
  height: 127px;
  transition: height 0.5s ease-in-out;
  div {
    height: 41px;
    transform-origin: 0 0;
    transition: transform 0.5s ease-in-out;
  }
  > div > div > div {
    transform: rotateX(0deg);
    transform-style: preserve-3d;
  }
  > div > div > div input:nth-child(2),
  > div > div > div > div input:nth-child(2) {
    transform: translateZ(-1px) rotateX(180deg);
  }
  > div > div > div > div {
    transform: translateY(-41px) rotateX(0deg);
    transform-style: preserve-3d;
  }
}

input {
  background: #fffefc;
  border: 0;
  box-sizing: border-box;
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin: 0 auto;
  padding: 13px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  width: 300px;
  transform-origin: 0 0;
  -webkit-font-smoothing: antialiased;

  &:hover {
    background: #f3f3f3;
  }
  &:focus {
    background: #eaeaea;
  }

  &[type="submit"] {
    background: #c0b707;
    color: #fffefc;
    cursor: pointer;
  }
  &[type="radio"] {
    display: none;
  }
}

input:checked {
  &[value="reset"] {
    ~ #inputs {
      height: 84px;
    }
    ~ #labels {
      margin-top: -10px;
    }
    ~ #inputs div > div > div {
      transform: rotateX(180deg);
    }
    ~ #inputs div > div > div > div {
      transform: translateY(-41px) rotateX(180deg);
    }
    ~ #labels label[for="reset"],
    ~ #labels label[for="register"],
    ~ #labels label[for="login"]:first-child {
      transition: opacity 0.5s;
      opacity: 0;
    }
  }
  &[value="register"] {
    ~ #inputs {
      height: 170px;
    }
    ~ #labels {
      margin-top: 30px;
    }
    ~ #labels label[for="reset"],
    ~ #labels label[for="register"],
    ~ #labels label[for="login"]:nth-child(3) {
      transition: opacity 0.5s;
      opacity: 0;
    }
  }
  &[value="login"] {
    ~ #labels {
      margin-top: 11px;
    }
    ~ #inputs div > div > div > div {
      transform: translateY(-41px) rotateX(180deg);
    }
    ~ #labels label[for="login"] {
      transition: opacity 0.5s;
      opacity: 0;
    }
  }
}

#labels {
  transition: margin 0.5s ease-in-out;
}
label {
  display: block;
  font-size: 14px;
  color: #43434c;
  margin-bottom: 5px;
  font-weight: 600;
  height: 18px;
  transition: opacity 1s 0.3s;
  overflow: hidden;
  span {
    cursor: pointer;
    color: #2c4d0d;
  }
}

#hint {
  position: absolute;
  bottom: 20px;
  opacity: 0.2;
  left: 50%;
  margin: 0 -62px;
  font-weight: 600;
}
