<div class="container">
    <ul class="nav justify-content-center">
        <li class="navbarLink">
            <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="navbarLink">
            <a class="nav-link" href="#">Conócenos</a>
        </li>
        <li class="navbarLink">
            <a class="nav-link">Blog</a>
        </li>
    </ul>

    <!-- <div class="logo-box">
    <img src="assets/icarvsIcon.jfif" alt="buscar" class="icon">
    <img src="assets/logoIcarvs.png" alt="buscar" class="logo">
  </div> -->
    <div class="nav-button">
        <a class="button">Zona clientes</a>
    </div>
</div>