<nav class="navbar navbar-light bg-light">
  <div class="container justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/icarvsIcon-transparent.png" alt="icarvs" width="40" height="40" />
      <img src="../../../assets/logo2.png" alt="icarvs" width="80" height="25" />
    </a>
  </div>
</nav>

<div class="container">
  <div class="container general-container">
    <div class="container switch-container w-100 justify-content-end mt-4">
      <input id="checkbox" type="checkbox" class="checkbox" (change)="changeCheckbox($event)" />
      <label for="checkbox" class="switch">
        <span class="switch__circle">
          <span class="switch__circle-inner"></span>
        </span>
        <span class="switch__left">Dirección</span>
        <span class="switch__right">CUPS</span>
      </label>
    </div>
    <ng-container *ngIf="!showCups">
      <p>Indíquenos su dirección</p>
      <div class="info-container">
        <div class="row mb-1">
          <div class="col-5 column-1 mt-5">
            <div class="form-floating mb-3">
              <input type="city" class="form-control" id="floatingInput" placeholder="City" />
              <label for="floatingInput">Localidad</label>
            </div>
          </div>
          <div class="col-5 column-1 mt-5">
            <div class="form-floating">
              <input type="province " class="form-control" id="flotaingProvince" placeholder="Province " />
              <label for="flotaingProvince">Provincia</label>
            </div>
          </div>
          <div class="col-2 column-1 mt-5">
            <div class="form-floating">
              <input type="CP" class="form-control" id="floatingCP " placeholder="CP " />
              <label for="floatingCP ">C.P.</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 column-1">
            <div class="form-floating mb-3">
              <input type="street " class="form-control" id="floatingStreet " placeholder="Street " />
              <label for="floatingStreet ">Calle</label>
            </div>
          </div>
          <div class="col-2 column-1">
            <div class="form-floating">
              <input type="num" class="form-control" id="floatingNum " placeholder="Num " />
              <label for="floatingNum">Nº</label>
            </div>
          </div>
          <div class="col-4 column-1">
            <div class="form-floating">
              <input type="door" class="form-control" id="floatingDoor" placeholder="Door " />
              <label for="floatingDoor ">Portal/Piso/Puerta</label>
            </div>
          </div>
        </div>
        <div class="col-12 column2 text-center mt-5">
          <button type="button" class="button-adress">Continuar</button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="showCups">
      <p>Indíquenos su CUPS</p>
      <div class="info-container">
        <div class="row mb-1">
          <div class="col-1 column-1 mt-5"></div>
          <div class="col-8 column-1 mt-5">
            <a>CUPS*¿Qué es?</a>
            <div class="form-floating mb-3">
              <input type="cups" class="form-control" id="floatingInput" placeholder="cups" />
              <label for="floatingInput">ESXXXXXXXXXXXXXXXXXX</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 column2 text-center mt-2">
            <button type="button" class="button-adress">Continuar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 column2 justify-content-end ml-2 mt-5">
            <button type="button" class="button-email">
              ¿Necesitas ayuda?
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="container turn-back justify-content-center">
  <button class="link" (click)="hayElectricidad()">Volver atrás</button>
</div>
