<div class="container-fluid">
  <img src="../../../assets/Manos.jpg" class="img-fluid firstImg" alt="...">
  <div class="imgText">
    <h1>No podemos hacer todo, <br> pero todos podemos hacer algo</h1>
  </div>
  <hr>
  <div class="container">
    <div class="text-center">
      <h1>Un titulo de puta madre</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur molestiae quas perferendis,
        sed assumenda soluta tenetur dicta fugit ab doloribus harum earum officiis quasi quos numquam repudiandae id
        totam
        iste?, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit possimus doloribus, eum id maiores,
        quia aliquid natus voluptas a earum veniam repudiandae dolor doloremque? Veritatis cumque est accusamus
        laboriosam
        rem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusantium, doloremque consequatur hic rem
        voluptate possimus quaerat voluptates voluptas reiciendis ex facilis non, earum, tempora in eligendi inventore
        saepe? Autem.</p>
    </div>
  </div>
  <hr>
</div>
<div class="container-fluid bottom">
  <img src="../../../assets/montaña.jpg" class="img-fluid secondImg" alt="...">
  <div class="colorText">
    <h1>Nuestro compromiso es con el ecosistema y contigo</h1>
  </div>
</div>
