<div class="container-fluid title-container">
  <div class="rectangle" alt="..."></div>
  <div class="rectangle-clone" alt="...">
    <div class="row align-items-center">
      <div class="col-12">
        <h1>
          Elegimos energía verde <br />
          porque creemos en un futuro sostenible
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid cards-container w-100 mt-5">
  <h1>
    Cada pequeño paso cuenta en el camino <br />hacia la transición energética
  </h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img
          src="../../../assets/green-energy/rawfilm-ihMzQV3lleo-unsplash.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Energía renovable</h5>
        </div>
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente,
          sed! Praesentium sapiente nihil odit incidunt magni sed quasi dolorum
          reiciendis provident molestiae! Eaque praesentium consequuntur ex.
          Consequuntur sit iure aspernatur. Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Amet suscipit architecto mollitia.
          Laboriosam pariatur labore culpa sapiente itaque aliquid quam numquam
          quos at optio, quibusdam obcaecati molestias dicta accusantium
          explicabo?
        </p>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="../../../assets/green-energy/noah-buscher-x8ZStukS2PM-unsplash.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Sostenibilidad</h5>
        </div>
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente,
          sed! Praesentium sapiente nihil odit incidunt magni sed quasi dolorum
          reiciendis provident molestiae! Eaque praesentium consequuntur ex.
          Consequuntur sit iure aspernatur. Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Amet suscipit architecto mollitia.
          Laboriosam pariatur labore culpa sapiente itaque aliquid quam numquam
          quos at optio, quibusdam obcaecati molestias dicta accusantium
          explicabo?
        </p>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="../../../assets/green-energy/aziz-acharki-U3C79SeHa7k-unsplash.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Autoconsumo solar</h5>
        </div>
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente,
          sed! Praesentium sapiente nihil odit incidunt magni sed quasi dolorum
          reiciendis provident molestiae! Eaque praesentium consequuntur ex.
          Consequuntur sit iure aspernatur. Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Amet suscipit architecto mollitia.
          Laboriosam pariatur labore culpa sapiente itaque aliquid quam numquam
          quos at optio, quibusdam obcaecati molestias dicta accusantium
          explicabo?
        </p>
      </div>
    </div>
    <div class="col w-100 mb-5">
      <div class="container-fluid btncontainer">
        <button
          class="btn-hover color-6"
          [routerLink]="['/registro']"
          routerLinkActive="active"
        >
          ÚNETE A ICARVS
        </button>
      </div>
    </div>
  </div>
</div>
