<div id="flecha" class="container info-container mt-4">
  <h2>Nos adaptamos a ti.<br />Te lo ponemos fácil.</h2>
  <p>Sé parte de la revolución energética</p>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 column-1">
      <div class="container text-container" ng-app="ContactForm">
        <h1>¿Qué nos hace diferentes?</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam corporis
          consectetur soluta assumenda modi explicabo aliquam illum! Maxime
          laborum eligendi facilis, harum nam delectus, magni quisquam corporis
          eveniet blanditiis voluptates.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 column-2">
      <img src="../../assets/photo-1594684197925-50758abcde61.jpg" alt="sol" />
    </div>
  </div>
  <div class="container arrow-container">
    <a
      class="fa fa-4x fa-arrow-circle-down"
      href="#flecha3"
      aria-hidden="true"
    ></a>
  </div>
</div>
