.info-container {
  position: relative;
  z-index: 1;
  margin: auto;
  height: 300px;
  margin-bottom: 510px;
  width: 100%;
  background-color: rgba(240, 193, 90, 0.72);
  h2 {
    width: 100%;
    font-size: calc(1.3em + 1vw);
    line-height: 1.6em;
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0);
    text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.37);
    font-weight: bold;
    position: absolute;
    margin-top: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    align-items: center;
    font-style: normal;
  }
  p {
    width: 100%;
    font-size: calc(0.7em + 1vw);
    font-weight: 400;
    line-height: 1.1em;
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 7.3em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    align-items: center;
    font-style: normal;
  }

  .column-2 {
    height: 800px;
    z-index: 4;
    img {
      z-index: 5;
      position: absolute;
      height: 30em;
      width: 420px;
      border-radius: 12%;
      top: 16em;
      left: 4em;
    }
  }
  .column-1 {
    z-index: -1;
    margin-top: 120px;
    .text-container {
      position: absolute;
      z-index: 99;
      margin-top: 170px;
      height: 500px;
      width: 550px;
      background: none;
      margin-left: 70px;
      h1 {
        padding-top: 35px;
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
        color: #2b580c;
        text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.37);
      }
      p {
        margin-top: 90px;
        padding-right: 55px;
        padding-left: 55px;
        text-align: justify;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
    }
  }
}

.arrow-container {
  position: relative;
  display: block;
  text-align: center;
  top: -40px;
  a {
    color: #2b580c;
    border: none;
    background-color: none;
    transition: all 0.3s ease 0s;
    &:hover {
      text-decoration: none;
      transform: translateY(7px);
      color: rgb(247, 227, 47);
    }
  }
}

@media screen and (max-width: 360px) {
  .info-container {
    p {
      margin-top: 6em;
    }
  }
}

@media screen and (max-width: 767px) {
  .column-1 {
    position: relative;
    img {
      position: absolute;
    }
  }

  .column-2 {
    .text-container {
      width: 300px;
      position: absolute;
      left: -54%;

      .input-container {
        max-width: 400px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .column-1 {
    position: relative;
    img {
      position: absolute;
      margin-top: 50px;
      max-width: 80%;
      max-height: 290px;
    }
  }

  .column-2 {
    .text-container {
      margin-left: -160px;
      max-width: 450px;
      max-height: 460px;
      .input-container {
        max-width: 540px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .column-1 {
    position: relative;
    img {
      position: absolute;
      margin-left: -18%;
    }
  }
}
