<div class="container-fluid top">
  <div class="container justify-content-center icon">
    <img src="../../assets/icarvsIcon-transparent.png" (click)="goToHome()" class="img-fluid pointer" alt="...">
  </div>
  <div class="container justify-content-start logo">
    <img src="../../assets/logo2.png" (click)="goToHome()" class="img-fluid pointer" alt="...">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-1">
      <a class="button email" href="">
        <div class="circle">
          <i class="fa fa-envelope"></i>
        </div>
        <span class="text">Enviar resultados</span>
      </a>
    </div>
    <div class="col-10">

    </div>
  </div>
</div>
<div class="container-fluid companys">
  <div class="row">
    <div class="col-2 f-col">
    </div>
    <div class="col-1">
    </div>
    <div class="col-9 s-col">
    </div>
  </div>
</div>
