.top {
  background: linear-gradient(
    89.54deg,
    rgba(255, 255, 255, 0.38) 9.53%,
    rgba(244, 249, 17, 0.223682) 24.57%,
    rgba(249, 253, 42, 0.501567) 36.79%,
    #f8fd11 48.55%,
    rgba(173, 252, 6, 0.92) 60.83%,
    rgba(85, 207, 9, 0.84) 73.07%
  );
  height: 150px;
  .icon {
    width: 100px;
    height: 100px;
    padding: 3px;
    &hover {
      background: #302f2f;
    }
    .pointer {
      cursor: pointer;
    }
  }
}
.logo {
  position: absolute;
  width: 130px;
  height: 70px;
  top: 1vw;
  .pointer {
    cursor: pointer;
  }
}

// .main {
//   background-color: black;
//   height: 250px;
// }

// .companys {
//   .f-col {
//     background-color: green;
//     height: 500px;
//   }
//   .s-col {
//     background-color: red;
//     height: 500px;
//   }
// }
// @import url(http://weloveiconfonts.com/api/?family=fontawesome);
// @import url(https://fonts.googleapis.com/css?family=Raleway);

// a {
//   text-decoration: none;
// }
// .container {
//   text-align: center;
// }
.button {
  color: white;
  font-family: Raleway;
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: 230px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  text-align: center;
  margin: 10px;
  text-transform: uppercase;
}
.button.email {
  background-color: rgb(139, 224, 163);
}
.text.over {
  opacity: 0;
  transition: all 0.1s ease;
}
.circle {
  z-index: 100;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0px);
  transition: transform 450ms ease-in-out;
  display: inline-block;
}
.button.email .circle {
  background-color: rgb(106, 217, 138);
}
.circle.alt {
  transform: translateX(160px);
}

.info-container {
  width: 850px;
  .table {
    .table-text {
      font-size: 18px;
      font-weight: 600;
    }

    .btn-primary {
      background-color: rgb(66, 95, 69);
      &:hover {
        background-color: rgb(48, 105, 55);
      }
    }
    .btn-danger {
      background-color: rgb(223, 121, 121);
      &:hover {
        background-color: rgb(221, 75, 75);
      }
    }
  }
}

.btn-panel {
  position: relative;
  display: block;
  margin-left: 40%;
  text-align: center;
}
