<div class="container-fluid justify-content-end py-4 px-4">
  <div class="zonebtn" id="testbutton" (click)="goToUsers()"></div>
</div>
<div id="wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <img
          src="../../assets/icarvsIcon-transparent.png"
          (click)="goToHome()"
          class="img-fluid pointer"
        />
        <h1>
          Icarvs <br />
          <span>Empresas</span>
        </h1>
      </div>
    </div>
  </div>
  <form [formGroup]="mForm" (ngSubmit)="registrar()">
    <input type="radio" id="login" name="action" value="login" checked />
    <input type="radio" id="register" name="action" value="register" />
    <input type="radio" id="reset" name="action" value="reset" />
    <div id="inputs">
      <div>
        <input
          type="text"
          class="is-invalid"
          placeholder="email"
          autofocus
          formControlName="email"
        />
        <div>
          <input
            type="password"
            placeholder="contraseña"
            formControlName="pass"
          />
          <div>
            <input
              type="password"
              placeholder="Repite contraseña"
              formControlName="confirmPass"
            />
            <input type="submit" value="resetear contraseña" />
            <div>
              <input type="submit" value="register" />
              <input type="submit" value="login" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="labels">
      <label (click)="mostrarLogin()" for="login"
        >¿Ya estás registrado?<span> Login </span></label
      >
      <label (click)="mostrarReset()" for="reset"
        >Recuperar contraseña<span> Reset </span></label
      >
      <label (click)="mostrarLogin()" for="login"><span> Atrás </span></label>
      <label (click)="mostrarRegister()" for="register">
        ¿No estás registrado? <span> ¡Crea una cuenta!</span></label
      >
    </div>
  </form>
</div>
<notifier-container></notifier-container>
