.container-fluid {
  .firstImg {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 650px;
  }
  .rectangle {
    position: absolute;
    z-index: 1;
    top: 25em;
    height: 200px;
    width: 100%;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    mix-blend-mode: color-burn;
    background: linear-gradient(
      90.3deg,
      rgba(133, 30, 30, 0.72) 18.12%,
      rgba(163, 117, 47, 0.71) 39.78%,
      rgba(202, 205, 47, 0.73) 62.66%,
      rgba(205, 161, 47, 0) 87.02%
    );
  }
  .rectangle-clone {
    position: absolute;
    z-index: 1;
    top: 25em;
    height: 200px;
    width: 100%;
    padding: 2em;
    h3 {
      width: 100%;
      font-family: Aleo;
      color: white;
    }
    h4 {
      width: 100%;
      font-family: Aleo;
      color: white;
    }
    p {
      font-size: 18px;
      width: 100%;
      font-family: Aleo;
      color: white;
    }
    h2 {
      width: 100%;
      font-family: Aleo;
      color: white;
    }
  }
}
.container {
  padding: 4em;
  body {
    font-family: tahoma;
    height: 100vh;
    background-image: url(https://picsum.photos/g/3000/2000);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
  }

  .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }

  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #9c2e2a;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }

  .our-team:hover .picture::before {
    height: 100%;
  }

  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #986120;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }

  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }

  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }

  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #9c2e2a;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }

  .our-team:hover .social {
    bottom: 0;
  }

  .our-team .social li {
    display: inline-block;
  }

  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }

  .our-team .social li a:hover {
    color: #986120;
    background-color: #f7f5ec;
  }
}
