<input type="checkbox" id="check">
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
  <a href="#" class="active">
    <i class="fas fa-qrcode"></i>
    <span>Tu panel</span>
  </a>
  <a href="#">
    <i class="fas fa-link"></i>
    <span>Simulador</span>
  </a>
  <a href="#">
    <i class="fas fa-stream"></i>
    <span>Comparador</span>
  </a>
  <a href="#">
    <i class="fas fa-calendar"></i>
    <span>Compañias</span>
  </a>
  <a href="#">
    <i class="far fa-question-circle"></i>
    <span>Sobre nosotros</span>
  </a>
  <a href="#">
    <i class="fas fa-sliders-h"></i>
    <span>Tu cuenta</span>
  </a>
  <a href="#">
    <i class="far fa-envelope"></i>
    <span>Contact</span>
  </a>
</div>
