<nav class="navbar navbar-light bg-light mb-5">
  <div class="container justify-content-center">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets/icarvsIcon-transparent.png"
        alt="icarvs"
        width="40"
        height="40"
      />
      <img
        src="../../../assets/logo2.png"
        alt="icarvs"
        width="80"
        height="25"
      />
    </a>
  </div>
</nav>

<div class="container info-container justify-content-center">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="table-text">Tus datos</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Nombre</th>
        <td>Mark</td>
        <td></td>
        <td>
          <button type="button" class="btn btn-primary mr-1">Editar</button>
          <button type="button" class="btn btn-danger ml-5">Borrar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td>Jacob</td>
        <td></td>
        <td>
          <button type="button" class="btn btn-primary mr-1">Editar</button>
          <button type="button" class="btn btn-danger ml-5">Borrar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Contraseña</th>
        <td>Jacob</td>
        <td></td>
        <td>
          <button type="button" class="btn btn-primary mr-1">Editar</button>
          <button type="button" class="btn btn-danger ml-5">Borrar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Calle</th>
        <td>Jacob</td>
        <td></td>
        <td>
          <button type="button" class="btn btn-primary mr-1">Editar</button>
          <button type="button" class="btn btn-danger ml-5">Borrar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Piso</th>
        <td>Jacob</td>
        <td></td>
        <td>
          <button type="button" class="btn btn-primary mr-1">Editar</button>
          <button type="button" class="btn btn-danger ml-5">Borrar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Puerta</th>
        <td>Jacob</td>
        <td></td>
        <td>
          <button type="button" class="btn btn-primary mr-1">Editar</button>
          <button type="button" class="btn btn-danger ml-5">Borrar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Ciudad</th>
        <td>Jacob</td>
        <td></td>
        <td>
          <button type="button" class="btn btn-primary mr-1">Editar</button>
          <button type="button" class="btn btn-danger ml-5">Borrar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Provincia</th>
        <td>Jacob</td>
        <td></td>
        <td>
          <button type="button" class="btn btn-primary mr-1">Editar</button>
          <button type="button" class="btn btn-danger ml-5">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container-fluid w-75 mt-3 justify-content-center">
  <button
    type="button"
    class="btn btn-primary btn-panel text-center"
    [routerLink]="['/Panel']"
  >
    Volver al panel
  </button>
</div>

<div class="container-fluid h-25"></div>
