<div class="container cards-container w-100 mt-5">
  <h1>Últimas publicaciones</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="../../assets/placas solares2.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div class="card-footer">
            <div class="container clock-container">
              <a class="fa fa-clock" aria-hidden="true"></a>
            </div>
            <small class="text-muted">13 de mayo de 2021</small>
          </div>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/ciudad2.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div class="card-footer">
            <div class="container clock-container">
              <a class="fa fa-clock" aria-hidden="true"></a>
            </div>
            <small class="text-muted">13 de mayo de 2021</small>
          </div>
          <p class="card-text">
            This card has supporting text below as a natural lead-in to
            additional content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../../assets/contaminación.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div class="card-footer">
            <div class="container clock-container">
              <a class="fa fa-clock" aria-hidden="true"></a>
            </div>
            <small class="text-muted">13 de mayo de 2021</small>
          </div>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This card has even longer content than the
            first to show that equal height action.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
