.top {
  background: linear-gradient(
    89.54deg,
    rgba(255, 255, 255, 0.38) 9.53%,
    rgba(244, 249, 17, 0.223682) 24.57%,
    rgba(249, 253, 42, 0.501567) 36.79%,
    #f8fd11 48.55%,
    rgba(173, 252, 6, 0.92) 60.83%,
    rgba(85, 207, 9, 0.84) 73.07%
  );
  height: 200px;
  .icon {
    width: 100px;
    height: 100px;
    padding: 3px;
    &hover {
      background: #302f2f;
    }
    .pointer {
      cursor: pointer;
    }
  }
}
.logo {
  position: absolute;
  width: 130px;
  height: 70px;
  top: 1vw;
  .pointer {
    cursor: pointer;
  }
}

.bienvenido {
  z-index: 5;
  position: relative;
  bottom: 6vw;
  left: 9vw;
  width: 700px;
  height: 250px;
  .welcome {
    color: black;
    font-size: 35px;
    width: fit-content;
    text-align: center;
    margin-right: 50px;
  }

  h3 {
    position: absolute;
    color: black;
    font-size: 20px;
    left: 5em;
  }
}
.main {
  z-index: -1;
  position: absolute;
  background-size: cover;
  background-image: url("../../assets/Dashboard/fondo.jpg");
  background-repeat: no-repeat;
  min-height: 470px;
  top: 250px;
  right: 400px;
  background-blend-mode: lighten;
  filter: contrast(2px);
  -webkit-filter: brightness(120%) blur(4px);
}

.data {
  border: 1px solid black;
  z-index: 0;
  position: absolute;
  background-color: white;
  width: 34vw;
  top: -140px;
  left: 90%;
  transform: translateX(-50%);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  h4 {
    font-size: 1.8em;
    font-weight: 600;
  }

  h5 {
    font-size: 1.2em;
    font-weight: 500;
  }

  .gestion {
    background-color: rgba(43, 88, 12, 0.72);
    color: white;
    box-shadow: 4px 3px 4px rgba(22, 22, 22, 0.37);
    background-color: rgb(255, 255, 253);
    transition: all 0.3 ease-out;
    border-radius: 50px;
    box-shadow: 4px 3px 4px rgba(22, 22, 22, 0.37);
    display: block;
    text-align: center;
    font-size: large;
    width: 100%;
    padding: 10px;
    font-weight: 500;
    color: black;
    border: 0.4px solid black;

    &:hover {
      background-color: rgba(43, 88, 12, 0.72);
      box-shadow: 4px 3px 4px rgba(22, 22, 22, 0.37);
      color: black;
    }
  }
}
