<div class="container-fluid top">
  <div class="container justify-content-center icon">
    <img src="../../assets/icarvsIcon-transparent.png" (click)="goToHome()" class="img-fluid pointer" alt="...">
  </div>
  <div class="container justify-content-start logo">
    <img src="../../assets/logo2.png" class="img-fluid" alt="...">
  </div>
</div>
<div class="container white">
  <h1>Bienvenido/a "nombre"</h1>
  <h3>¿Qué podemos hacer por ti hoy?</h3>
  <p>A continuación te ofrecemos nuestras herramientas</p>
</div>
<div class="container-fluid main">

</div>
