<div class="container">
  <div class="firstPost">
    <img src="../../assets/Imagen central nuclear.jpg" class="img-fluid" alt="responsive image" id="firstImage">
    <h1>Cambio Climatico</h1>
    <h3>Por un futúro sostenible</h3>
  </div>
  <div class="clearfix col-md-6 float-md-end mb-3 ms-md-3 colorText">
    <h4>Un cambio es posible</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident aperiam omnis, nostrum, dignissimos magnam
      eum saepe nemo, eveniet facilis inventore suscipit. Architecto fugiat delectus excepturi nisi cupiditate vel odit
      est.</p>
  </div>
  <hr>
  <div class="row align-items-center">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/energia renovable.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/campo verde.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/Instaladores solares.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
