<div class="container">
  <div class="firstPost">
    <img src="../../assets/Imagen central nuclear.jpg" class="img-fluid" alt="responsive image" id="firstImage">
    <h1>Cambio Climatico</h1>
    <h3>Por un futúro sostenible</h3>
  </div>
  <div class="clearfix col-md-6 float-md-end mb-3 ms-md-3 colorText">
    <h4>Un cambio es posible</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident aperiam omnis, nostrum, dignissimos magnam
      eum saepe nemo, eveniet facilis inventore suscipit. Architecto fugiat delectus excepturi nisi cupiditate vel odit
      est.</p>
  </div>
  <hr>
  <div class="row align-items-center">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/energia renovable.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text-01">Energia a tu alcance</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet cumque id similique nostrum, distinctio eos
            quia, ipsam accusantium blanditiis,
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/campo verde.jpg" class="card-img-top" alt="..." id="grassLand">
        <div class="card-body">
          <p class="card-text-02">Un nuevo comienzo</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet cumque id similique nostrum, distinctio eos
            quia, ipsam accusantium blanditiis,
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/Instaladores solares.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text-03">Facilidades para todos</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet cumque id similique nostrum, distinctio eos
            quia, ipsam accusantium blanditiis,
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container faqPost">
    <img src="../../assets/Ciudad.jpg" class="img-fluid" alt="responsive image">
    <p> Preguntas frecuentes (FAQ) </p>
  </div>
</div>
