<div class="container">
  <div class="firstPost">
    <div class="row row1">
      <div class="col-md-6 col-sm-12 mb-3">
        <img
          src="../../assets/Imagen central nuclear.jpg"
          class="img-fluid"
          alt="responsive image"
          id="firstImage"
        />
        <h1>Cambio Climatico</h1>
        <h3>Por un futuro sostenible</h3>
      </div>
      <div class="col-md-6 col-sm-12 mb-3 colorText">
        <h4>Un cambio es posible</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident
          aperiam omnis, nostrum, dignissimos magnam eum saepe nemo, eveniet
          facilis inventore suscipit. Architecto fugiat delectus excepturi nisi
          cupiditate vel odit est.
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div class="row align-items-center">
    <div class="col-12 col-md-4 sm-6">
      <div class="card">
        <img
          src="../../assets/Blog/energia renovable.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text card-text-01">Energía a tu alcance</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet cumque
            id similique nostrum, distinctio eos quia, ipsam accusantium
            blanditiis,
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 sm-6">
      <div class="card">
        <img
          src="../../assets/Blog/campo verde.jpg"
          class="card-img-top"
          alt="..."
          id="grassLand"
        />
        <div class="card-body">
          <p class="card-text card-text-02">Un nuevo comienzo</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet cumque
            id similique nostrum, distinctio eos quia, ipsam accusantium
            blanditiis,
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 sm-6">
      <div class="card">
        <img
          src="../../assets/Blog/Instaladores solares.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text card-text-03">Facilidades para todos</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet cumque
            id similique nostrum, distinctio eos quia, ipsam accusantium
            blanditiis,
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container faqPost">
    <img
      src="../../assets/Ciudad.jpg"
      class="img-fluid"
      alt="responsive image"
    />
    <p>Preguntas frecuentes (FAQ)</p>
  </div>
</div>
