<div class="container carousel-container mt-4">
  <mdb-carousel
    class="carousel-fade carousel"
    [controls]="true"
    [indicators]="true"
  >
    <mdb-carousel-item class="data-mdb-interval=10000">
      <img
        src="../../assets/bombilla.jpg"
        class="d-block w-100"
        alt="bombilla"
      />
      <div class="carousel-caption caption-1 d-none d-md-block">
        <div class="container container-1">
          <h5>
            ¡Toma el <span class="underlined">control</span> de tu consumo
            eléctrico!
          </h5>
          <p>Te ayudamos a diseñar tu sistema de autoconsumo solar</p>
          <button type="button" class="button-1">Simula tu factura</button>
        </div>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item class="data-mdb-interval=2000">
      <img
        src="../../assets/puesta de sol.jpg"
        class="d-block w-100"
        alt="puesta de sol"
      />
      <div class="carousel-caption caption-2 d-none d-md-block">
        <div class="container container-2">
          <h5>
            Descubre por qué la energía verde es el
            <span class="underlined">futuro</span>
          </h5>
          <button type="button" class="button-2">Visita el blog</button>
        </div>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <img
        src="../../assets/imagen_manos_luces.jpg"
        class="d-block w-100"
        alt="luces"
      />
      <div class="carousel-caption caption-3 d-none d-md-block">
        <div class="container container-3">
          <h5>
            Transparencia. <br />
            Claridad. <br />
            Compromiso.
          </h5>
          <p>
            Nuestros <span class="underlined">valores</span> nos hacen
            diferentes
          </p>
          <button type="button" class="button-3">Nuestra política</button>
        </div>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<div class="container arrow-container">
  <button class="fa fa-4x fa-arrow-circle-down" aria-hidden="true"></button>
</div>
