<div class="container carousel-container mt-4">
    <mdb-carousel class="carousel-fade" [controls]="true" [indicators]="true">
        <mdb-carousel-item class="data-mdb-interval=10000">
            <img src="../../assets/bombilla.jpg" class="d-block w-100" alt="bombilla" />
            <div class="carousel-caption caption-1 d-none d-md-block">
                <h5>
                    ¡Toma el <span class="underlined">control</span>de tu consumo eléctrico!
                </h5>
                <p>Te ayudamos a diseñar tu sistema de autoconsumo solar</p>
                <button type="button" class="btn btn-success button-1">
          Simula tu factura
        </button>
            </div>
        </mdb-carousel-item>

        <mdb-carousel-item class="data-mdb-interval=2000">
            <img src="../../assets/puesta de sol.jpg" class="d-block w-100" alt="puesta de sol" />
            <div class="carousel-caption d-none d-md-block">
                <h5>Descubre por qué la energía verde es el futuro</h5>
                <button>Visita el blog</button>
            </div>
        </mdb-carousel-item>

        <mdb-carousel-item>
            <img src="../../assets/imagen_manos_luces.jpg" class="d-block w-100" alt="luces" />
            <div class="carousel-caption d-none d-md-block">
                <h5>
                    Transparencia. <br /> Claridad. <br /> Compromiso.
                </h5>
                <p>Nuestros valores nos hacen diferentes</p>
                <button>Nuestra política</button>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
</div>