.carousel-container {
   width: auto;
   padding-top: 8%;
    img {
    object-fit: cover;
    height: 550px;
    border-radius: 0px;
  }
    .caption-1 {
        h5 {
            color: black;
            font-size: xx-large;
            font-weight: bold;
            margin-right: 450px;
            padding-bottom: 10px;
            .underlined {
                position: relative;
                margin-right: 0;
            }
            .underlined:after {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 0;
                height: 20px;
                width: 100%;
                border: solid 2px #0e7c2a;
                border-color: #0e7c2a transparent transparent transparent;
                border-radius: 50%;
            }
        }
        p {
            margin-right: 450px;
            color: black;
            font-weight: 500;
            font-size: 22px;
        }
        .button-1 {

            width: fit-content;
            border-radius: 16px;
            border: none;
            box-shadow: 0px 8px 15px rgba(0.3, 4, 10, 2);
            transition: all 0.3s ease 0s;
            padding: 10px;
            background-color: #2B580C;
            margin-right: 450px;
            color: black;
            font-size: medium;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                background-color:  #b4b63f;
                transform: translateY(-7px);
            }
        }
      }

    .caption-2 {
      h5 {
          color: black;
          font-size: xx-large;
          font-weight: bold;
          margin-bottom: 330px;
          .underlined {
              position: relative;
              margin-right: 0;
          }
          .underlined:after {
              content: "";
              position: absolute;
              bottom: -15px;
              left: 0;
              height: 20px;
              width: 100%;
              border: solid 2px #0e7c2a;
              border-color: #0e7c2a transparent transparent transparent;
              border-radius: 50%;
          }
        }
          .button-2 {

            width: fit-content;
            border-radius: 16px;
            border: none;
            box-shadow: 0px 8px 15px rgba(0.3, 4, 10, 2);
            transition: all 0.3s ease 0s;
            padding: 10px;
            background-color: #2B580C;
            margin-right: 450px;
            color: black;
            font-size: medium;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                background-color:  #b4b63f;
                transform: translateY(-7px);
            }
        }
     }

  .caption-3 {
    h5 {
      color: black;
      font-size: xx-large;
      font-weight: bold;
      margin-right: 450px;
      padding-bottom: 10px;
    }
    p {
      margin-right: 450px;
      color: black;
      font-weight: 500;
      font-size: 22px;
      .underlined {
        position: relative;
        margin-right: 0;
      }
      .underlined:after {
        content: "";
        position: absolute;
        bottom: -18px;
        left: 0;
        height: 20px;
        width: 100%;
        border: solid 2px #0e7c2a;
        border-color: #0e7c2a transparent transparent transparent;
        border-radius: 50%;
      }
    }
      .button-3 {
          width: fit-content;
          border-radius: 16px;
          border: none;
          box-shadow: 0px 8px 15px rgba(0.3, 4, 10, 2);
          transition: all 0.3s ease 0s;
          padding: 10px;
          background-color:  #2B580C;
          margin-right: 460px;
          color: black;
          font-size: medium;
          font-weight: bold;
          cursor: pointer;
          &:hover {
              background-color:  #b4b63f;
              transform: translateY(-7px);
          }
    }
  }
}
.arrow-container {
 margin-left: 50%;
 margin-right: 50%;
 margin-top: 1%;
 button {
  color: #2B580C;
  border: none;
  background-color: white;
  transition: all 0.3s ease 0s;
  &:hover {
    transform: translateY(7px);
    color:#b4b63f;
  }
  }
}

