.carousel-container {
  width: auto;
  img {
    height: 659px;
    width: 1024px;
    left: 0px;
    top: 71px;
    border-radius: 0px;
  }
    .caption-1 {
        h5 {
            color: black;
            font-size: xx-large;
            font-weight: bold;
            margin-right: 450px;
            padding-bottom: 10px;
            .underlined {
                position: relative;
                margin-right: 0;
            }
            .underlined:after {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 0;
                height: 20px;
                width: 100%;
                border: solid 2px #0e7c2a;
                border-color: #0e7c2a transparent transparent transparent;
                border-radius: 50%;
            }
        }
        p {
            margin-right: 450px;
            color: black;
            font-weight: 500;
            font-size: 22px;
        }
        .button-1 {

            width: fit-content;
            border-radius: 16px;
            border: none;
            box-shadow: 0px 8px 15px rgba(0.3, 4, 10, 2);
            transition: all 0.3s ease 0s;
            padding: 10px;
            background-color: #49b82d;
            margin-right: 450px;
            color: black;
            font-size: medium;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                background-color:  #b4b63f;
                transform: translateY(-7px);
            }
        }
      }

    .caption-2 {
      h5 {
          color: black;
          font-size: xx-large;
          font-weight: bold;
          margin-bottom: 10px;
          .underlined {
              position: relative;
              margin-right: 0;
          }
          .underlined:after {
              content: "";
              position: absolute;
              bottom: -15px;
              left: 0;
              height: 20px;
              width: 100%;
              border: solid 2px #0e7c2a;
              border-color: #0e7c2a transparent transparent transparent;
              border-radius: 50%;
          }
        }
          .button-3 {

            width: fit-content;
            border-radius: 16px;
            border: none;
            box-shadow: 0px 8px 15px rgba(0.3, 4, 10, 2);
            transition: all 0.3s ease 0s;
            padding: 10px;
            background-color: #49b82d;
            margin-right: 450px;
            color: black;
            font-size: medium;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                background-color:  #b4b63f;
                transform: translateY(-7px);
            }
        }
     }

  .caption-3 {
    h5 {
      color: black;
      font-size: xx-large;
      font-weight: bold;
      margin-right: 450px;
      padding-bottom: 10px;
    }
    p {
      margin-right: 450px;
      color: black;
      font-weight: 500;
      font-size: 22px;
      .underlined {
        position: relative;
        margin-right: 0;
      }
      .underlined:after {
        content: "";
        position: absolute;
        bottom: -18px;
        left: 0;
        height: 20px;
        width: 100%;
        border: solid 2px #0e7c2a;
        border-color: #0e7c2a transparent transparent transparent;
        border-radius: 50%;
      }
    }
      .button-3 {
          width: fit-content;
          border-radius: 16px;
          border: none;
          box-shadow: 0px 8px 15px rgba(0.3, 4, 10, 2);
          transition: all 0.3s ease 0s;
          padding: 10px;
          background-color:  #49b82d;
          margin-right: 460px;
          color: black;
          font-size: medium;
          font-weight: bold;
          cursor: pointer;
          &:hover {
              background-color:  #b4b63f;
              transform: translateY(-7px);
          }
    }
  }
}

.info-container {
  margin: auto;
  width: 100%;
  img {
    height: 70px;
    width: 70px;
  }

  mat-grid-tile {
    background: none;
  }
  mat-grid-tile-header {
    height: 100px;
    background-color: white;
    h2 {
      margin-bottom: 20px;
      color: black;
    }
  }
}

.form-container {
  label {
    display: block;
    font-weight: 700;
    margin: 0 0 8px 0;
    min-width: 50px;
  }
  input, textarea {
    border: 1px solid #ccc;
    padding: 4px 0;
    width: 100%;
    -webkit-appearance: none;
  }
  input[type=submit] {
    background:  #49b82d;
    border: 0;
    color: #fff;
    padding: 8px 16px;
    transition: background 0.2s;
  }
  input[type=submit]:not(:disabled):hover {
    background: #b4b63f;;
  }
  input[type=submit]:not(:disabled):active {
    background:  #49b82d
  }
  input[disabled] {
    opacity: 0.5;
  }
  .container {
    background: #fff;
    box-shadow: 0 2px 4px #888;
    margin: auto;
    padding: 16px;
    max-width: 600px;
  }
  .form-group {
    margin-bottom: 16px;
  }
  input.ng-invalid.ng-dirty,
  textarea.ng-invalid.ng-dirty{
    border-color: red;
    box-shadow: 0 0 4px red;
  }
}
