.carousel-container {
    margin: auto;
    width: auto;
    img {
        height: 450px;
        object-fit: cover;
    }
    .caption-1 {
        h5 {
            color: black;
            font-size: xx-large;
            font-weight: bold;
            margin-left: 350px;
            padding-bottom: 30px;
            .underlined {
                position: relative;
                margin-right: 1rem;
            }
            .underlined:after {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 0;
                height: 20px;
                width: 100%;
                border: solid 2px #0e7c2a;
                border-color: #0e7c2a transparent transparent transparent;
                border-radius: 50%;
            }
        }
        p {
            margin-left: 350px;
            color: black;
            font-weight: 500;
            font-size: 22px;
        }
        .button-1 {
            height: 50px;
            padding: 15px;
            background-color: #e3f15d;
            margin-left: -550px;
            color: black;
            font-size: medium;
            font-weight: bold;
            &:hover {
                background-color: #e5f503;
            }
        }
    }
}